@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.formLeft {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 400px;
}

.formLeftSmall {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 200px;
}

.formLeft input {
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
    max-width: 177px;
}

.formLeftSmall input {
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
    max-width: 177px;
}

select {
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
    height: 22px;
    max-width: 185px;
}

.formLeft textarea {
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}

.textAreaFormatted {
    font-family: 'Inter', sans-serif;
}