.homeTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
    min-height: 85vh;
    background-image: url("../images/homeImages/LookingOverHorseshoeBend.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.homeNavigation ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}
.homeNavigation ul li {
    display: inline;
}
.homeNavigation ul li a {
    border-radius: 1em;
    text-decoration: none;
    color: black;
    padding: 5px;
}
.homeNavigation ul li a:hover {
    transition: .2s;
    color: white;
    background-color: #7e7373e5;
}